<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Spring Boot H2</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <form action="#" th:action='@{/board/c}' method="post" th:object="${entity}">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" th:field="*{subject}"/>
        </div>
        <div class=" form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" rows="7" th:field="*{content}"></textarea>
        </div>
     
        <button type=" submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>
